<div class="footer-wrapper ta-center">
  <div class="padding-text">
    <p class="contenta-doodles">Contenta Doodles</p>
    <p class="mb-xxs">
      Santa Cruz, CA<br />
      contentadoodles@gmail.com<br />
      413-441-0091
    </p>
    <div class="social-media-wrapper">
      <a href="https://www.instagram.com/">
        {{> insta-icon width="18px"}}
      </a>
      <a href="https://www.facebook.com/">
        <img src="images/facebook-logo.svg" height="18px" alt="" />
      </a>
    </div>
  </div>
</div>