/* Main Font Color */
$color-1: #282b28;

/* Buttons and Mobile Nav Link Color */
$color-2: #483d8b;

$color-3: white;

/* Footer and New litter background */
$color-4: #e5e8e8;

$font-1: Shippori Mincho B1;
$font-2: Open Sans;

$mb-xxs: 20px;
$mb-xs: 45px;
$mb-s: 70px;
$mb-m: 85px;
$mb-lg: 108px;
$mb-xl: 115px;

$m-mb-xxs: 10px;
$m-mb-s: 40px;
$m-mb-m: 60px;
$m-mb-lg: 80px;
