<div class="adopt-wrapper">
    <div class="header-image mb-s m-mb-s">
        <picture>
            <source media="(max-width:900px)" srcset="images/dog-grass-medium.jpg" />
            <source media="(max-width:500px)" srcset="images/dog-grass-small.jpg" />
            <img src="images/dog-grass.jpg" class="hero-image" />
        </picture>
    </div>
    <div class="text-wrapper mobile-padding">
        <h1 class="title mobile-padding">Adopt</h1>
        <div class="mb-xs">
            <p class="ul-bold">Adoption Process:</p><br />
            <ol>
                <li>1. Faucibus nisl tincidunt eget nullam non.

                </li><br />

                <li>2. Sed elementum tempus egestas sed sed risus pretium. Pharetra diam sit amet
                    nisl suscipit adipiscing. Nunc mattis enim ut tellus.</li><br />

                <li>3. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Magna eget
                    est lorem ipsum dolor sit. Hendrerit dolor magna eget est. Scelerisque eleifend
                    donec pretium vulputate.</li><br />

                <li>4. Quam id leo in vitae turpis massa. Nec nam aliquam sem et. Pellentesque id
                    nibh tortor id aliquet lectus proin nibh. Fusce ut placerat orci nulla pellentesque
                    dignissim enim sit amet.</li>

            </ol>
        </div>
        <div class="mb-xs">
            <p class="ul-bold">Pricing:</p><br />
            <ul>
                <li><strong>Mini Goldendoodles</strong> (20-30 lbs): $3500</li><br />
                <li><strong>Goldendoodles</strong> (30-50 lbs): $3000</li><br />
                <li><strong>Cavapoos</strong> (10-20 lbs): $4000</li>
            </ul>
        </div>
        <div class="mb-s">
            <p class="ul-bold">Available Puppies:</p><br />
            <p>
                <strong>Spring 2021:</strong> Mini F1b Goldendoodle Litter (20-30 lbs)<br /><br />
                <strong>Fall 2021:</strong> Cavapoo Litter (10-20 lbs)
            </p>
        </div>
        <div class="mobile-ta-center">
            <button class="button mb-xl m-mb-lg">PUPPY APPLICATION</button>
        </div>

    </div>
</div>