<div class="contact-wrapper">
    <div class="margin-bottom-1"></div>
    <div class="text-wrapper margin-bottom-2 mobile-padding">
        <div class="questions-wrapper fade-in">
            <p class="header mb-xs mobile-margin">Questions or Comments?</p>
            <p class="mobile-margin">We would love to hear from you. Please allow 24 - 48 hours for a response.</p>
        </div>
        <div class="fade-in contact-info">
            <p class="margin-bottom-3"><strong>Email:</strong><br />
                <a href="mailto: contentadoodles@gmail.com">contentadoodles@gmail.com</a>
            </p>
            <p>
                <strong>Phone:</strong><br />
                <a href="tel:1-123-456-7890">(123) 456-7890</a>
            </p>
        </div>
    </div>
</div>