<div class="faq-wrapper">
    <div class="header-image mb-s m-mb-s">
        <picture>
            <source media="(max-width:900px)" srcset="images/sleeping-medium.jpg" />
            <source media="(max-width:500px)" srcset="images/sleeping-small.jpg" />
            <img src="images/sleeping.jpg" class="hero-image" />
        </picture>
    </div>
    <div class="text-wrapper mobile-padding">
        <h1 class="title mobile-padding font-black">FAQ</h1>
        <div class="mb-xs">
            <p class="header">Do you offer a health Guarantee?</p><br />
            <p>Sed elementum tempus egestas sed sed risus pretium. Pharetra diam sit amet
                nisl suscipit adipiscing. Nunc mattis enim ut tellus.</p><br /><br />

            <p class="header">Do you ship your puppies?</p><br />
            <p>Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Magna eget
                est lorem ipsum dolor sit. Hendrerit dolor magna eget est. Scelerisque eleifend
                donec pretium vulputate.</p><br /><br />

            <p class="header">What will I receive with my puppy?</p><br />
            <p>Quam id leo in vitae turpis massa. Nec nam aliquam sem et. Pellentesque id
                nibh tortor id aliquet lectus proin nibh. Fusce ut placerat orci nulla pellentesque
                dignissim enim sit amet.</p><br /><br />

            <p class="header">How do I prepare for a puppy and what do I need to buy?</p><br />
            <p>Nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Magna eget
                est lorem ipsum dolor sit. Hendrerit dolor magna eget est. Scelerisque eleifend
                donec pretium vulputate.</p><br /><br />

            <p class="header">Do you suggest puppy training?</p><br />
            <p class="mb-xl m-mb-lg">Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Scelerisque
                eleifend
                donec pretium vulputate.</p>

        </div>
    </div>
</div>