<div class="future-litters-wrapper">
    <div class="header-image mb-xl m-mb-s fade-in">
        <h1 class="title mobile-padding">Future Litters</h1>
        <picture>
            <source media="(max-width:900px)" srcset="images/pup-rest-medium.jpg" />
            <source media="(max-width:500px)" srcset="images/pup-rest-small.jpg" />
            <img src="images/pup-rest.jpg" class="hero-image" />
        </picture>
    </div>
    <div class="ta-center line-height">
        <div class="fade-in image-wrapper mb-xs m-mb-s">
            <img src="images/dog-bed.jpg" alt="" class="dog-images margin-right">
            <img src="images/cavapoo-mom.jpg" alt="" class="dog-images">
        </div>
        <div class="fade-in mobile-padding">
            <h2 class="mb-xxs">Henry x Goldie</h2>
            <p class="mb-m m-mb-m">Coming Spring 2021<br />
                Mini F1b Goldendoodle Litter<br />
                20-30 lbs
            </p>
        </div>
        <div class="fade-in image-wrapper mb-xs m-mb-s">
            <img src="images/doodle-dad.jpg" alt="" class="dog-images margin-right">
            <img src=" images/cavalier-mom.jpg" alt="" class="dog-images">
        </div>
        <div class="fade-in mobile-padding">
            <h2 class="mb-xxs">Jackson x Macy</h2>
            <p class="mb-m m-mb-m">Coming Fall 2021<br />
                F1 Cavapoo Litter<br />
                10-20 lbs
            </p>
        </div>
        <div class="fade-in mobile-padding">
            <p class="mb-xxs m-mb-s waitlist-text">If you’d like to be added to the waitlist, please fill out a puppy
                application.</p>
            <button class="button mb-xl m-mb-lg">PUPPY APPLICATION</button>
        </div>
    </div>
</div>