<div class="home-wrapper">
  <div class="home-image mb-lg m-mb-s">
    <div class="fade-in white-div"></div>
    <div class="fade-in image-header">Breeding Goldendoodles and Cavapoos in Sunny California
    </div>
    <picture>
      <source media="(max-width:900px)" srcset="images/dog-home-medium.jpg" />
      <source media="(max-width:500px)" srcset="images/dog-home-small.jpg" />
      <img src="images/dog-home.jpg" class="hero-image" />
    </picture>
  </div>
  <div class="fade-in image-text-wrapper mb-lg m-mb-s">
    <div class="image-dog-1"></div>
    <div class="m-mb-m padding">
      <h2 class="mb-xxs">About Our Puppies</h2>
      <p class="paragraph-text mb-xs m-mb-s">We specialize in Goldendoodes and Cavapoos for one simple reason: We love
        the
        breeds. Ut
        enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <a href="adopt"><button class="button fade-in">READ MORE</button>
    </div></a>
  </div>
  <div class="fade-in image-text-wrapper mb-lg m-mb-none">
    <div class="m-mb-s padding">
      <h2 class="mb-xxs">Health Tested</h2>
      <p class="paragraph-text">All of our dogs are thoroughly health tested by the age of one for at least 151
        hereditary defects and diseases. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="image-dog-2"></div>
  </div>
  <div class="large-image mb-lg m-mb-m">
    <div class="fade-in large-image-text ta-center">
      <p class="mobile-padding">Next Litter Spring 2021</p>
      <p class="large-image-text-2">Now Accepting Applications!</p>
      <button class="button">APPLY NOW</button>
    </div>
  </div>
  <div class="fade-in mb-xl m-mb-m mobile-padding">
    <p class="quote">We are dedicated to raising smart,
      beautiful, and healthy puppies for our
      future owners.</p>
    <p class="small-quote-text ta-center">Raised with love in our home, never in a kennel.</p>
  </div>
  <div class="gallery-wrapper mb-xl m-mb-m">
    <div class="fade-in gallery-text-wrapper">
      <h2 class="font-white mb-xxs">Puppies on the 'Gram</h2>
      <p class="font-white">@contentadoodles</p>
    </div>
    <div class="fade-in photo-grid">
      <img src="images/insta1.jpg" class="grid-item">
      <img src="images/insta2.jpg" class="grid-item">
      <img src="images/insta3.jpg" class="grid-item">
      <img src="images/insta4.jpg" class="grid-item">
    </div>
    <div class="ta-center"><a href="https://www.instagram.com/">{{> insta-icon width="45px"
        class="white-fill"
        }}</a>
    </div>
  </div>
  <div class="fade-in">
    <p class="ta-center mb-xl m-mb-m mobile-padding">Have more questions? Check out our <a href="faq">FAQ Page</a>
      or <a href="contact">Contact
        us</a></p>
  </div>
</div>