<div class="parents-wrapper">
    <div class="header-image mb-xl m-mb-m">
        <h1 class="title mobile-padding font-black">Parents</h1>
        <picture>
            <source media="(max-width:900px)" srcset="images/dog-beach-medium.jpg" />
            <source media="(max-width:500px)" srcset="images/dog-beach-small.jpg" />
            <img src="images/dog-beach.jpg" class="hero-image" />
        </picture>
    </div>
    <div class="image-text-wrapper mb-m m-mb-m fade-in">
        <div class="image-dog-1"></div>
        <div class="paragraph-text mobile-padding m-mb-s">
            <h2 class="mb-xxxs">Jackson</h2>
            <p class="mb-xxs font-20">Mini F1b Goldendoodle
            </p>

            <p>Sed lectus vestibulum mattis ullamcorper velit. Augue eget arcu dictum varius. Platea
                dictumst quisque sagittis purus sit amet.


            </p>
        </div>
    </div>
    <div class="image-text-wrapper mb-m m-mb-m fade-in">
        <div class="paragraph-text mobile-padding m-mb-s">
            <h2 class="mb-xxxs">Goldie</h2>
            <p class="mb-xxs font-20">Cavapoo</p>

            <p>Augue ut lectus arcu bibendum at. Faucibus interdum posuere lorem ipsum. Dui accumsan sit
                amet nulla
                facilisi morbi tempus iaculis urna.

            </p>
        </div>
        <div class="image-dog-2"></div>
    </div>
    <div class="image-text-wrapper mb-lg m-mb-lg fade-in">
        <div class="image-dog-3"></div>
        <div class="paragraph-text mobile-padding m-mb-s">
            <h2 class="mb-xxxs">Henry</h2>
            <p class="mb-xxs font-20">Goldendoodle
            </p>

            <p>Nibh ipsum consequat nisl vel pretium lectus quam id leo. Convallis aenean et tortor at risus viverra
                adipiscing at. Pellentesque sit amet porttitor eget dolor. Vel quam elementum pulvinar etiam non.



            </p>
        </div>
    </div>
</div>