<div class="supply-wrapper">
    <div class="header-image mb-s m-mb-s">
        <picture>
            <source media="(max-width:900px)" srcset="images/dog-bones-medium.jpg" />
            <source media="(max-width:500px)" srcset="images/dog-bones-small.jpg" />
            <img src="images/dog-bones.jpg" class="hero-image" />
        </picture>
    </div>
    <div class="text-wrapper mobile-padding">
        <h1 class="title font-black mobile-padding">Supply List</h1>
        <div class="mb-xl m-mb-lg">
            <div class="mb-xs">
                <p class="header mb-xxs m-mb-xxs">Adjustable Crate</p>
                <p class="mb-xxs m-mb-xxs">Allows you to adjust the length of the living area as your puppy grows into
                    its adult size home.</p>
                <a
                    href="https://www.amazon.com/New-World-Folding-Leak-Proof-Measures/dp/B01DLS2EYM/ref=sr_1_7?dchild=1&keywords=Dog+crate&qid=1617208543&sr=8-7">Folding
                    Metal Dog Crate</a><br>
                <a
                    href="https://www.amazon.com/Paws-Pals-Double-Doors-Folding-Designed/dp/B00IGEP5QG/ref=sr_1_12?dchild=1&keywords=Dog+crate&qid=1617208627&sr=8-12">Crate
                    for small dogs</a>
                </p>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs m-mb-xxs">Exercise Pen</p>
                <p class="mb-xxs m-mb-xxs">This exercise pen gives dogs plenty of space to move around and play when you
                    aren't around.</p>
                <a
                    href="https://www.amazon.com/MidWest-Foldable-Metal-Exercise-Playpen/dp/B00377WL46/ref=sr_1_5?dchild=1&keywords=exercise+pen+dog&qid=1617209052&sr=8-5">Exericise
                    pen with door</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs m-mb-xxs">Shampoo</p>
                <a href="">Burt's Bees Shampoo</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Dog Bowls</p>
                <a href="">Set of dog bowls</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs m-mb-xxs">Toys</p>
                <p class="mb-xxs m-mb-xxs">The snuggle puppy is a must have! The behavioral aid dog toy is designed to
                    help your dog cope with everyday stressors such as fear and seperation anxiety.</p>
                <a href="">Variety pack</a><br>
                <a href="">Snuggle Puppy</a><br>
                <a href="">Squeak balls</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs m-mb-xxs">Food and Treats</p>
                <p class="mb-xxs m-mb-xxs">Provide your puppy with plenty of chew sticks to prevent chewing on furniture
                    and your hands. Bully sticks and Himalayan chews are my dog's favorites!</p>
                <a href="">Wellness Puppy Kibble</a><br>
                <a href="">Bully sticks</a><br>
                <a href="">Puppy training treats</a><br>
            </div>

        </div>
    </div>
</div>